/* impostazioni generali */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Alfa Slab One', cursive;
}

/* contenuto pagina */

/* scheda prodotto */
.product {
    height: 100vh;
    position: relative;
}

/* colori sfondo */
.backred {
    background-color: #ff0f17;
}

.backyellow {
    background-color: #ffff37;
}

.backgreen {
    background-color: #008013;
}


.product * {
    text-align: center;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* testo */
.product h1 {
    font-size: 65px;
}

.fontyellow {
    color: #ffff37;
}

.fontgreen {
    color: #008013;
}
