/* impostazioni generali */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Rubik Mono One', sans-serif;
    scroll-behavior: smooth;
}

/* contenuto pagina */

/* navigazione */
#mainnav {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 999;
}

#mainnav li {
    display: inline-block;
    margin: 0 10px;
}

#mainnav a {
    text-decoration: none;
    display: block;
    background-color: white;
    border-radius: 50%;
    font-size: 25px;
    color: black;    
    height: 50px;
    width: 50px;
    padding: 10px;
    text-align: center;
}

/* scheda prodotto */
.product {
    height: 100vh;
    position: relative;
}

/* colori sfondo */
.backred {
    background-color: #ff0f17;
}

.backyellow {
    background-color: #ffff37;
}

.backgreen {
    background-color: #008013;
}

/* posizionamento */
.product * {
    text-align: center;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* testo */
.product h1 {
    font-size: 56px;
}

.fontyellow {
    color: #ffff37;
}

.fontgreen {
    color: #008013;
}
